- let innerDataset = require("../dataset.json")
- let socialIconsNames = ["facebook", "instagram", "twitter", "youtube"]

footer(class='footer')
  section.footer__wrapper.wrapper
    .footer__contact
      h3.contact__logo Logo / Company Name
      address.contact__address
        .address__info
          p.info__location= "Company Address: "
            a.location__link(href="https://www.google.ru/maps/place/%D0%9D%D0%B8%D0%B4%D0%B5%D1%80%D0%BB%D0%B0%D0%BD%D0%B4%D1%8B/@52.2093654,4.1584377,8z/data=!3m1!4b1!4m5!3m4!1s0x47c609c3db87e4bb:0xb3a175ceffbd0a9f!8m2!3d52.132633!4d5.291266", target="_blank") Lorem ipsum dolor sit amet 18600, Netherlands
          a.info__phone(href="tel:+389587550000") +38 958 755-00-00
        .address__text
          p.text__content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.
      ul.contact__social
        each val in socialIconsNames
          li
            a(href="#" class="social__icon", class= val)
    .footer__copyright
      span.copyright__icon!= "&#169;&nbsp;"
      span.copyright__year!= "2019 -&nbsp;"
      a.copyright__link-first(href="#") Privacy Policy
      span.copyright__separator!= "&nbsp;-&nbsp;"
      a.copyright__link-second(href="#") Terms and Conditions
