- let innerDataset = require("../dataset.json")

header.header
  section.header__wrapper.wrapper
    h1.header__logo= "Header/Logo"
    nav.header__nav
      ul
        each el in innerDataset.nav
          li
            a(href=el.href)= el.text
