$content-width: 1140px;

$main-background-color: #d9d9d9;
$block-background-color: #ffffff;
$arrow-background-color: #828282;
$border-background-color: #8d8d8d;
$stoke-background-color: #bdbdbd;
$disabled-background-color: #e0e0e0;
$focus-background-color: #2d9cdb;
$hover-label-background-color: #2d9cdb;
$hover-button-background-color: #56ccf2;
$hover-link-background-color: #56ccf2;
$check-border-background-color: #2d9cdb;
$check-disabled-border-background-color: #828282;
$check-background-color: #2d9cdb;
$button-background-color: #56ccf2;
$mileage-background-color: #c4c4c4;
$social-border-background-color: #828282;

$disabled-text-color: #8d8d8d;
$navigation-text-color: #8d8d8d;
$link-text-color: #2f80ed;
$hover-link-text-color: #56ccf2;
$default-text-color: #4f4f4f;
$black-text-color: #333333;
$full-black-text-color: #000000;
$button-text-color: #ffffff;
$mileage-text-color: #ffffff;
$paragraph-text-color: #828282;
$copyright-text-color: #828282;
$select-text-color: #828282;
$copyright-first-link-text-color: #2d9cdb;
$copyright-second-link-text-color: #2f80ed;
$button-disabled-text-color: #e0e0e0;
$check-disabled-text-color: #828282;
